
cis202/ch2/labs/2_15_movie_showtime_display/chatgpt
cis202/ch1/labs/1_22_remove_non_alph/main
cis202/ch1/labs/1_23_toll_calculations/main
cis202/ch1/labs/1_24_calculate_average/main
cis202/ch1/labs/1_25_count_evens/main
cis202/ch1/labs/1_26_reverse_vector/main
cis202/ch2/labs/2_10_parsing_dates/chatgpt
cis202/ch2/labs/2_10_parsing_dates/main
cis202/ch2/labs/2_11_file_name_change/main
cis202/ch2/labs/2_12_course_grade/main
cis202/ch2/labs/2_13_parsing_food_data/main
cis202/ch2/labs/2_15_movie_showtime_display/chatgpt
cis202/ch3/3_14_mileage_tracker_for_a_runner/main
